header {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(233, 179, 78);
  padding-bottom: 1%;
}

.section1 {
  align-self: flex-end;
}
.section2 {
  align-self: flex-end;
}
section > a {
  text-decoration: none;
  color: black;
}

div {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
h1 {
  flex-basis: auto;
  color: rgb(45, 34, 34);
  padding-left: 2%;
}

aside {
  width: fit-content;
}

ul {
  padding-left: 0;
  row-gap: 15px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  min-width: 125px;
}
ul > li > a {
  text-decoration: none;
  color: black;
  background-color: rgb(233, 179, 78);
  padding: 3%;
}
.bottom-bar {
  background-color: rgb(233, 179, 78);
  display: flex;
  justify-content: center;
  gap: 10rem;
  align-items: flex-start;
}

.customer {
  display: flex;
  flex-direction: column;
}

.sales {
  display: flex;
  flex-direction: column;
}

.about-us {
  display: flex;
  flex-direction: column;
}
div > h3 {
  padding: 0;
  margin-bottom: 0%;
  text-decoration: underline;
}
