.nanum-pen-script-regular {
  font-family: "Nanum Pen Script", cursive;
  font-weight: 400;
  font-style: normal;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

body {
  display: flex;
  flex-direction: column;
  background-color: beige;
}
main {
  display: ;
}

article > div > header {
  background-color: blanchedalmond;
}

img {
  max-width: 100%;
}

@media (width<600px) {
  nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .website-name {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
