.parent-grid {
  display: grid;
  flex-flow: wrap;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-gap: 20px;
  grid-auto-rows: 25rem;
  padding: 10px;
}
.grid-item {
  display: flex;
  flex-direction: column;
  max-width: 10rem;
  text-align: justify;
  padding: 5%;
  border: 0.5ch black solid;
}
